.jxModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    text-align:center;
    height: 100%;
    background-color: rgba(1, 1, 1, .6);
}
.jxDialog {
      -webkit-animation-name: pulse;
-webkit-animation-duration: 1.5s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: ease-in-out;
    width: 200px;
    height: 200px;
    background-color: rgba(1, 1, 1, .4);
    margin-top: -100px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    border-radius: 15px;
    border: 5px solid black;
    color:white;
    font-size:20pt;
    font-weight:bold;
}

#pauseMenu {
    padding:10px;
    height: 80px;
    margin-top: -40px;
}

.jxButton {
  margin: auto;
  background: #36518f;
  background: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #8c9cbf), color-stop(0.5, #546a9e), color-stop(0.5, #36518f), color-stop(1, #3d5691));
  border: 1px solid #172d6e;
  border-bottom: 1px solid #0e1d45;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 1px 0 0 #b1b9cb;
  -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
  box-shadow: inset 0 1px 0 0 #b1b9cb;
  color: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 0 8px 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
  width: 150px;
}

.jxButton:hover {
  background: #2f477d;
  background: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #7f8dad), color-stop(0.5, #4a5e8c), color-stop(0.5, #2f477d), color-stop(1, #364c80));
  cursor: pointer;
  -webkit-animation-name: pulse;
-webkit-animation-duration: 1.5s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: ease-in-out;
}

.jxButton:active {
  cursor: pointer;
  background: #36518f;
  background: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%,  color-stop(1, #3d5691), color-stop(0.5, #36518f), color-stop(0.5, #546a9e), color-stop(0, #8c9cbf));
}

@-webkit-keyframes pulse {
    0% {
            box-shadow: 0 0 12px rgba(51,204,255,.7);
    }
    50% {
            box-shadow: 0 0 12px rgba(51,204,255,1);
    }
    100% {
            box-shadow: 0 0 12px rgba(51,204,255,.7);
    }
}
